/* Write your global styles here, in PostCSS syntax */

.info {
  @apply block bg-info text-info-content p-2 rounded m-auto w-fit my-4;
}

.warning {
  @apply block bg-warning text-warning-content p-2 rounded m-auto w-fit my-4;
}

.error {
  @apply block bg-error text-error-content p-2 rounded m-auto w-fit my-4;
}

.bid-body {
  @apply block my-auto flex-grow text-xs md:text-sm;
}
