html {
    font-family: "Funnel Sans", sans-serif;

    --bg-bg: #001;
    --raise-bg: #20252e;
    --raise-outline: #FFF8;
    --text-quiet: #88A;
    --text: #EEF;
    --link: #AAF;
    --link-visited: #BBE;
    --link-hover: #FFF;
    --dialog-shadow: var(--bg-bg);

    --run-in-progress: #5e7;
    --run-finished: #d2a;
    --run-nothing: #001;

    --bid-full: var(--run-in-progress);
    --bid-open: #dda;
    --bid-closed: #d36;

    --run-finished-half: #d2a7;
    --run-in-progress-half: #5e77;
    --bid-open-half: #dda7;
    --bid-closed-half: #d367;

    --youtube-rgb: 255, 0, 0;
    --twitch-rgb: 100, 65, 165;

    
    --keyart-opacity: 4%;

    color: var(--text);
    background-color: var(--bg-bg);
}

@media (prefers-color-scheme: light) {
    html {
        --bg-bg: #faf8ff;
        --raise-bg: hsl(264, 15%, 95%);
        --raise-outline: #CCC;
        --text-quiet: #303040;
        --text: #112;
        --link: hsl(251, 75%, 48%);
        --link-visited: hsl(271, 75%, 55%);
        --link-hover: #97e;
        --dialog-shadow: #0006;

        --keyart-opacity: 12%;
    }

    .vod::before {
        color: white;
    }
}

html, body, .page-container {
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Outfit", sans-serif;
}

/* p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
} */

.page-container {
    max-width: 64em;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    flex-grow: 1;
}

.hero-text {
    font-size: 150%;
    text-align: center;
    margin: 1em;
}

header {
    --logo-size: 5em;
    padding: 1em;
    display: grid;
    grid-template-columns: calc(var(--logo-size) + 1.25em) auto;
}

/*  Border underneath header */
header::after {
    grid-column: 1 / span 2;
    content: " ";
    height: 2px;
    background: linear-gradient(90deg, var(--run-finished) 0%, var(--bg-bg) 30%, var(--bg-bg) 70%, var(--run-in-progress) 100%);
}

header img {
    width: var(--logo-size);
    height: auto;
    margin: .625em;
}

header nav {
    grid-column: 1 / span 2;
}

header nav ul {
    text-align: center;
    padding-left: 0;
}


header h1 {
    color: var(--text);
}

header a {
    text-decoration: none;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}

/*a[target='_blank']::after {*/
/*    content: ' ↗';*/
/*}*/

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav li {
    list-style-type: none;
    margin: 0 .625em;
}

main {
    padding: 1em;
}

footer {
    padding: 1em;
    font-size: small;
    color: #669;
    text-align: right;
}

.material-symbols-rounded {
    /* Symbol fonts have no generic font equivalent  */
    /*noinspection CssNoGenericFontName*/
    font-family: "Material Symbols Rounded";
    font-size: 14pt;
}

.loading {
    color: #FFC107;
    font-size: 200%;
    text-align: center;
    margin: 1em;
    content: "Loading...";
}

/* css reset */
.event-runs {
    padding: 0;
    margin: 0;
}

.event-runs > li {
    display: grid;
    --bar-width: 5em;
    grid-template-columns: var(--bar-width) 10ch 1fr;
    margin: .3125em;
}

.event-runs > li:first-child {
    margin-top: 0;
}

.run {
    background-color: var(--raise-bg);
    box-shadow: inset var(--raise-outline) 0 0 2px;
    border-radius: 2px;

    position: relative;
}

.run.has-art {
    background-image:
        /* "lower opacity" of bg image */
        linear-gradient(0deg, color-mix(in srgb, transparent var(--keyart-opacity), var(--raise-bg)) 0 100%), 
        var(--keyart)
        ;
    background-size: cover;
    background-position-y: 60%;
    background-position-x: 50%;
}

.run.in-progress {
    border-right: 1px solid var(--run-in-progress);
}

.run-schedule-time {
    font-size: 120%;
    text-align: center;
    word-break: break-all;
    margin: auto 0;
    color: var(--text-quiet);
}

.run-content {
    padding: 1em;
}

.run-content > *:not(dialog) {
    margin: 0;
}

.run-content > *:not(dialog):not(:last-child) {
    margin-bottom: 0.75em;
}

.run-category {
    color: var(--text-quiet);
    white-space: nowrap;
}


.event-day {
    font-weight: bold;
    display: block;
}

.event-day h2 {
    grid-column: 2 / span 2;
}


.schedule-bar-bit {
    --bar-size: 2.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    html {
        font-size: small;
    }

    .run-schedule-time {
        font-size: 100%;
    }

    .event-runs > li {
        grid-template-columns: var(--bar-width) 5ch 1fr;
        --bar-width: 1.875em;
    }

    .schedule-bar-bit {
        --bar-size: 1.125em;
    }

    .run-content {
        margin-left: 0.25em;
    }

    .run-cover img {
        display: none;
    }
}

.schedule-bar-bit::before, .schedule-bar-bit::after {
    content: " ";
    display: block;
    background-color: var(--run-nothing);
}

.next-up .schedule-bar-bit::before {
    background: linear-gradient(180deg, var(--run-finished) 0%, var(--run-nothing) 30%);
}

.in-progress .schedule-bar-bit::before {
    background: linear-gradient(180deg, var(--run-finished) 0%, var(--run-in-progress) 30%, var(--run-in-progress) 70%, var(--run-nothing) 100%);
}

.in-progress .schedule-bar-bit::after {
    background-color: var(--run-in-progress);
}

.finished .schedule-bar-bit::before,
.finished .schedule-bar-bit::after {
    background-color: var(--run-finished);
}

/* lines that appear next to runs */
.schedule-bar-bit::before {
    width: calc(var(--bar-size)/4);
    height: calc(100% + .625em);
    position: absolute;

}

/* where the line starts */
li:first-child > .schedule-bar-bit::before {
    width: calc(var(--bar-size)/4);
    height: calc(50% + var(--bar-size)/4);
    bottom: 0;
    position: absolute;
    border-top-left-radius: calc(var(--bar-size)/8);
    border-top-right-radius: calc(var(--bar-size)/8);
}

/* where the line ends */
li:last-child > .schedule-bar-bit::before {
    width: calc(var(--bar-size)/4);
    height: calc(50% + var(--bar-size)/4);
    top: 0;
    position: absolute;
    border-bottom-left-radius: calc(var(--bar-size)/8);
    border-bottom-right-radius: calc(var(--bar-size)/8);
}


/* circles that appear next to runs */
.run > .schedule-bar-bit::after {
    width: var(--bar-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 1; /*  only really affect appearance of very last IN_PROGRESS run  */
}

sup {
    position: relative;
    top: -0.5em;
}

.run-name {
    font-size: 120%;
}


.radial-progress {
    --thickness: .25em;
    position: relative;
    --size: calc(2*var(--size));
    display: inline-grid;
    height: var(--size);
    aspect-ratio: 1/1;
    place-content: center;
    border-radius: 100%;
    vertical-align: middle;
    box-sizing: content-box;
    background-color: var(--bg-bg);
    margin: 0 0.5em;
}

.radial-progress::before,
.radial-progress::after {
    position: absolute;
    border-radius: 100%;
    content: "";
}

.radial-progress::before {
    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
    background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
}

.radial-progress::after {
    display: block;
    aspect-ratio: 1/1;
    inset: calc(50% - var(--thickness) / 2);
    transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
    background-color: currentColor;
}

.bid {
    display: flex;
    align-items: center;
    position: relative;
}

.bid-body {
    margin: 0 0.5em;

}

.bid-contributions {
    color: var(--text-quiet);
}

.run-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em 1em;
}

.run-details > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.run-details > div:not(:last-child) {
    margin-right: .3125em;
}

.run-details > div > * {
    vertical-align: middle;
}

.run-details .icon {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Rounded';
    font-size: 150%;
    margin-left: -.1em;
    margin-right: .3125em;
    color: var(--text-quiet);
    width: 1ch;
}

.run-src {
    display: inline-block;
    content: ' ';
    /*noinspection CssUnknownTarget*/
    background-image: url("/trohpy.svg");
    background-size: 1.25em;
    background-repeat: no-repeat;

    margin: 0 .3125em;
    vertical-align: bottom;
    text-decoration: none;
    border-bottom: 1px solid currentColor;

    padding-left: 1.25em;
}

.run-src:hover {
    /*noinspection CssUnknownTarget*/
    background-image: url("/trohpy.svg"), url("/trohpy.svg"); /* hack to make bg svg brighten */
    background-size: 1.25em, 1.25em;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: screen, screen;
}

.vod {
    display: flex;
    align-items: center;
    /* min-width: min(11em, 100%); */
}

.vods-list {
    /*float: right;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 2em;
    list-style: none;
    padding: 0;
}

.vod .icon {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Rounded';
    font-size: 150%;
    margin-top: -0.15em;
    margin-bottom: -0.15em;
    margin-left: -.05em;
    margin-right: .3125em;
    width: 1ch;
    text-shadow:
            rgba(var(--whatever-rgb), 1.0) -2px 0 0,
            rgba(var(--whatever-rgb), 0.8) -4px 0 0,
            rgba(var(--whatever-rgb), 0.6) -6px 0 0,
            rgba(var(--whatever-rgb), 0.4) -8px 0 0,
            rgba(var(--whatever-rgb), 0.2) -10px 0 0,
            #000A 0px 1px 3px,
            #000A -10px 1px 5px
            ;
}

.vod.youtube .icon {
    --whatever-rgb: var(--youtube-rgb);
}

.vod.twitch .icon {
    --whatever-rgb: var(--twitch-rgb);
}

.bid-war-stats {
    display: flex;
    flex-direction: row;
}

.bid-war-bars {
    content: '';
    display: inline-flex;
    flex-direction: column;
    gap: .1875em;
    margin: 0 0.5em;
    width: 4.375em;
    border-right: 2px solid var(--text-quiet);
}

.bid-war-bar {
    height: 0.75em;
    border-radius: 2px;
}

.bid-war-legend {
    margin: 0 0.25em;
    display: block;
    width: min-content;
    font-size: 85%;
    color: var(--text-quiet);
    white-space: nowrap;
}

.bid-war-bar:first-child {
    background-color: var(--run-in-progress);
}

.bid-war-bar:not(:first-child) {
    background-color: var(--run-finished);
}

.bid-description {
    display: none;
    position: absolute;
    background-color: var(--bg-bg);
    color: var(--text);
    border: 1px solid var(--text-quiet);
    padding: 1em;
    bottom: 100%; /* above name of bid incentive */
    box-shadow: var(--dialog-shadow) 0 0 1em;
}

.bid-description::after {
    /* triangle pointing down in the middle */
    content: '';
    position: absolute;
    bottom: -1em;
    left: calc(50% - 0.5em);
    border: 0.5em solid transparent;
    border-top-color: var(--text-quiet);

}

.bid:hover .bid-description {
    display: block;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    width: fit-content;
    margin: 0 auto;
    justify-items: end;
}

form label {
    grid-column: 1;
}

form input, form select {
    grid-column: 2;
    background-color: var(--bg-bg);
    color: var(--text);
    border: none;
    padding: 0.25em;
    min-width: 50ch;
    width: 100%;
}

form input[disabled] {
    opacity: 50%;
}

form button[type="submit"] {
    grid-column: 1 / span 2;
}

.action-btn {
    display: flex;
    color: var(--text);
    background-color: var(--raise-bg);
    border: 2px solid var(--run-finished);
    box-shadow: var(--run-finished-half) 0 3px 0 0, var(--raise-bg) 10px 15px 10px;
    padding: .3125em;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* bottom right of div, and also dont make any taller*/
.suggest-btn,
.suggest-dialog button[type="submit"] {
    margin: 0.5em;
    float: right;
}

.schedule-btn {
    margin: 1em 2em;
    text-decoration: none;
}

.schedule-btn .icon {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Rounded';
    font-size: 150%;
    margin-right: .3125em;
    width: 24px; /* hardcode final render width to fix oversized width while loading */

}

.action-btn.submitting {
    cursor: wait;
    border-color: var(--bid-open);
    box-shadow: var(--bid-open-half) 0 3px 0 0;
}

.action-btn.ok {
    border-color: var(--run-in-progress);
    box-shadow: var(--run-in-progress-half) 0 3px 0 0;
}

.action-btn.error {
    border-color: var(--bid-closed);
    box-shadow: var(--bid-closed-half) 0 3px 0 0;
}

.suggest-btn .icon {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Material Symbols Rounded';
    font-size: 150%;
    margin-right: .3125em;
    width: 1ch;
}

.run.in-progress .suggest-btn {
    border-color: var(--run-in-progress);
    box-shadow: #173 0 3px 0 0, var(--raise-bg) 10px 15px 10px;
}

.suggest-dialog {
    background-color: var(--raise-bg);
    color: var(--text);
    border: 1px solid var(--run-finished);
    border-radius: 2px;
    padding: 1.5em;
    box-shadow: var(--dialog-shadow) 0 0 1.875em 0.625em;
}

.suggest-dialog > h1 {
    margin-top: 0;
}

.close-btn {
    position: absolute;
    margin: 0.5em;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: var(--text);
    font-size: 200%;
    padding: 0;
    cursor: pointer;
}

.event-summary {
    background-color: var(--raise-bg);
    box-shadow: inset var(--raise-outline) 0 0 2px;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
    list-style-type: none;
}

.event-summary > :first-child {
    margin-top: 0;
}

.event-summary > :last-child {
    margin-bottom: 0;
}

.events-list {
    padding: 0;
}

.error-box {
    background-color: rgba(141, 0, 70, 0.44);
    border: 2px solid hsl(0, 95%, 56%);
    margin: 1em auto;
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    width: fit-content;
    align-items: center;
}

.error-icon {
    float: left;
    font-size: 200%;
    grid-row: 1 / span 2;
    margin: 1em;
}

.error-box h2 {
    margin: 0.5em 0;
}

.error-box p {
    /* TODO: consolidate various margin and padding values on text elements */
    margin-right: 1em;
}

#event-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    border-bottom: 2px solid #669;
    padding-bottom: 4px;
    margin-bottom: 0.5em;
    background-color: var(--bg-bg);
    z-index: 2;
    gap: 1em;
    height: 2em;
}

.event-runs.hide-bids .bid {
    display: none;
}

.collapse-btn {
    display: flex;
    gap: 12px;
    color: var(--text);
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0;
    margin-left: -15px;
    align-items: center;
}

.run-cover {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0;
    margin-bottom: 0 !important;
    & img {
        max-width: 55px;
        border-radius: 3px;
        box-shadow:  #0004 0 0 15px;
    }
}

.run-cover.evade {
    top: unset;
    bottom: 15px;
}

.suggest-btn {
    position: relative;
}

.run.has-art .run-content {
    padding-right: 70px;
}

.run.has-art .run-content > .suggest-btn {
    margin-right: -55px;
}